{% extends "app_inostri/base.html" %}
{% load static %}

{% block contenido %}
<div class="content-wrapper">
  <h2>Somos I Nostri</h2>
  <th>Nos gusta el vino. Nos gusta lo que significa en la vida de cada uno de nosotros. Ese momento en que abrimos una botella y escuchamos el corcho dando la bienvenida a un instante de placer. 
    Como sabe acompañar, sin ser protagonista, situaciones especiales. Esperamos que a medida que vayas adentrandote en el sitio podamos transmitirte y contagiarte esta pasión.
  </th>
  <div class="image-wrapper">
    <img src="{% static 'images/aboutus.jpg' %}" alt="Image" class="image">
  </div>
</div>
{% endblock contenido %}