{% extends "app_inostri/base.html" %}

{% block contenido %}
<section>
  <div>
    <div class="col-md-8 mt-3 left">
      <div class="d-flex justify-content-between mb-3">
    <h1>Lista de Bodegas</h1>
    <a href="{% url 'crear_bodega' %}" class="btn btn-dark">Crear Bodega</a>
      </div>
    <form action="{% url 'buscar_bodega' %}" method="GET">
      {% csrf_token %}
      <input name="q" type="text" placeholder="Ingrese palabra clave.">
      <input type="submit" value="Buscar">
    </form>
   
    <br>
    <table class="table">
      <tbody>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Zona</th>
          <th>Provincia</th>
        </tr>
        {% for bodega in object_list %}
        <tr>
          <td>{{ bodega.id }}</td>
          <td>{{ bodega.nombre }}</td>
          <td>{{ bodega.zona }}</td>
          <td>{{ bodega.provincia }}</td>
          <td>
            <a href="{% url 'ver_bodega' bodega.id %}">
              <span class='bi bi-info-circle' style="color: black;"></span>
              </a>
            </td>
            <td>
              <a href="{% url 'editar_bodega' bodega.id %}">
                <span class='bi bi-pencil-fill' style="color: black;"></span>
              </a>
            </td>
            <td>
              <a href="{% url 'eliminar_bodega' bodega.id %}">
                <i class="bi bi-trash" style="color: black;"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
 
  </div>
 </section>
 {% endblock contenido %}