{% extends "app_inostri/base.html" %}
{% load static %}

{% block contenido %}

<div class="container">
  <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8 mt-3 left">
          <div class="d-flex justify-content-between mb-3">
              <h2>Artículos</h2>
              <a href="{% url 'crear_post' %}" class="btn btn-dark">Crear Artículo</a>
          </div>
          {% if object_list %}
          {% for articulo in object_list %}
          <div class="card mb-4">
              <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                      <h2 class="card-title">{{ articulo.titulo }}</h2>
                      {% if articulo.autor == request.user or request.user.is_superuser %}
                      <form method="post" action="{% url 'eliminar_post' articulo.id %}">
                          {% csrf_token %}
                          <div>
                            <a href="{% url 'editar_post' articulo.id %}">
                              <i class="bi bi-pencil-fill" style="color: black;"></i>
                            </a>
                          </div>
                          <div>
                            <a href="{% url 'eliminar_post' articulo.id %}">
                              <i class="bi bi-trash" style="color: black;"></i>
                            </a>
                          </div>
                      </form>
                      {% endif %}
                  </div>
                  <p class="card-text">{{articulo.subtitulo|slice:":200" }}</p>
                  <p class="card-text text-muted h6">{{ articulo.autor }} | {{ articulo.fecha|date:'d-m-Y'}} </p>
                  <a href="{% url 'ver_post' articulo.id  %}" class="btn btn-dark">Leer más &rarr;</a>
              </div>
          </div>
          {% endfor %}
          {% else %}
          <p>No hay entradas aún.</p>
          {% endif %}
      </div>
  </div>
</div>

{%endblock%}
